/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

/* NAVBAR */
a { color: inherit; } 

.site-header .navbar .navbar-nav .nav-link {
    font-size: 1.1em;
    position: relative;
}
.site-header .navbar .navbar-nav .nav-link:hover {
    color: #0275d8;
}
.site-header .navbar .navbar-nav .nav-link::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #0275d8;
    color: transparent;
    width: 0%;
    content: '.';
    height: 2px;
    transition: all 0.5s;
}
.site-header .navbar .navbar-nav .nav-link:hover::after {
    width: 80%;
}

/* IMAGE CAROUSEL */
.carousel-item {
    height: 60vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(0%);
}