<!-- Home page html, this automatically extends everything form layout.html -->
{% extends "layout.html" %}
{% block content %}
    <title>Home</title>

    <div class="home-container">
      <div class="home-image">
        <img src="{{ url_for('static', filename='images/uol-INB.png') }}">
      </div>
      <div class="home-mission">
        <h1>Our Mission</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
          etdolore magna aliqua. Convallis convallis tellus id interdum. Scelerisque purus semper eget duis at
          tellus at. Sed enim ut sem viverra aliquet eget sit amet. Nulla facilisi morbi tempus iaculis urna id
          volutpat. In vitae turpis massa sed elementum tempus. Vivamus at augue eget arcu. Dignissim convallis
          aenean et tortor at risus viverra adipiscing.
          <p>lorem sed risus ultricies. Vitae congue eu
          consequat ac felis donec et odio. Nibh nisl condimentum id venenatis a condimentum vitae. Enim neque
          volutpat ac tincidunt vitae semper. Adipiscing tristique risus nec feugiat in. Fusce id velit ut tortor
          pretium. Nullam vehicula ipsum a arcu cursus vitae congue mauris rhoncus. Quam nulla porttitor massa id
          neque aliquam vestibulum. Tincidunt dui ut ornare lectus. Diam vel quam elementum pulvinar etiam non.</p> 
        </p>
      </div>
      <div class="banner">
        <p>University of Lincoln experiences rated, by students, for students.</p>
      </div>
      <div class="home-featured">
        <h1>Featured Reviews</h1>
        
      </div>
    </div>
    

    <!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="{{ url_for('static', filename='images/uol-image-1.jpg') }}" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{ url_for('static', filename='images/uol-image-2.jpg') }}" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{ url_for('static', filename='images/uol-image-3.jpg') }}" alt="Third slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
      </a>
    </div>-->
    
{% endblock content %}
