<!-- Home page html, this automatically extends everything form layout.html -->
{% extends "layout.html" %}
{% block content %}
    <title>Home</title>

    <!-- Holds Homepage Content -->
    <div class="home-container">
      <!-- Container for image -->
      <div class="home-image">
        <!-- Both versions of the INB image -->
        <img class="faded-image" src="{{ url_for('static', filename='images/uol-INB.png') }}">
        <img class="solid-image" src="{{ url_for('static', filename='images/uol-image-1.jpg') }}">
      </div>
      <!-- About Us Section -->
      <div class="home-mission">
        <h1>Our Mission</h1>
        <p>The goal of this website is to give any prospective students an insight into
          current students feelings towards the University of Lincoln. This will hopefully give prospective students
          and anyone interested a good understanding of the student satisfaction level of the university.</p>
          <p>To give an adequate overview of many different students perspectives we have covered past and present students,
            as well as students across all courses. We obtained this information by sending a survey throught the university
            as well as scraping data from
            <a href="https://www.whatuni.com/university-course-reviews/university-of-lincoln/">What Uni?</a>
          </p> 
      </div>
      <div class="banner">
        <p>University of Lincoln experiences rated, by students, for students.</p>
      </div>
      <!-- Featured Reviews -->
      <div class="home-featured">
        <h1>Featured Reviews</h1>
        <!-- PLEASE LEAVE 4 REVIEWS HERE -->
      </div>
    </div>
    
{% endblock content %}
